body {
  padding-top: 50px;
}
.starter-template {
  padding: 10px 15px;
  text-align: center;
}

.container .tweets {
  float: left;
  width: 25%;
}

.tweet-trends {
  text-align: left;
}

#live_tweets {
  height: 550px;
  overflow-y:auto;
}

.charts .daily_form_div {
  width: 70%;
  margin-left: 3%;
}
.daily_form_div .btn {
  margin-left: 10px;
}
.charts .form-control {
  width: 20%;
  display: inline;
}
.charts h3 {
  margin-top:5px;
  margin-bottom:5px;
  font-size:16px;
  text-align:center;
}
#country {
  width: 10%;
}

.tweet {
  text-align: left;
  border-bottom: thin dotted #CCCCCC;
}
.trend-results {
  width: 74%;
  margin-left: 1%;
}
.live .trend-results {
  float: right;
}
#map {
  height: 60%;
}
