
<html lang="en"><head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>{% block title %}{% endblock %}</title>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>

    <!-- Bootstrap core CSS -->
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="./static/css/starter-template.css" rel="stylesheet">

    {% block head %}{% endblock %}
        
  </head>

  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Trending Topics</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="{% block nav_active_live %}{% endblock %}"><a href="/live">Live</a></li>
            <li class="{% block nav_active_hourly %}{% endblock %}"><a href="/hourly">Hourly</a></li>
            <li class="{% block nav_active_daily %}{% endblock %}"><a href="/daily">Daily</a></li>
            <li class="{% block nav_active_stats %}{% endblock %}"><a href="/stats">Stats</a></li>
            <li><a href="http://www.slideshare.net/tantonyan/trending-topics-week40demo" target="_blank">Slides</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div class="container">

      <div class="tweets" id="tweets_div">
      	<div id="tweet_trends" class="starter-template"></div>
      	<div id="live_tweets" class="starter-template"></div>
      </div>

      <div class="charts">
	{% block location %}{% endblock %}
	{% block trend %}{% endblock %}
	{% block charts %}{% endblock %}
      </div>

    </div><!-- /.container -->



{% block tail %}{% endblock %}

</body></html>
