{% extends "base.html" %} <!--this means that you are extending the base tempate -->
{% block title %}Live Trends{% endblock %}
{% block nav_active_live %}active{% endblock %}
{% block head %}
<script type="text/javascript">
function fixDateTime(item){
  return ("0" + item).slice(-2);
}
function getMinuteslot(){
  var d = new Date();
  d.setTime(d.getTime() - 2000 * 60); // two minutes ago
  var curr_date = fixDateTime(d.getDate());
  var curr_month = fixDateTime(d.getMonth()+1);
  var curr_year = d.getFullYear();
  var curr_hour = fixDateTime(d.getHours());
  var curr_min = fixDateTime(d.getMinutes());

  return curr_year + curr_month + curr_date + curr_hour + curr_min
}

var minuteslot = getMinuteslot();
var country = "";
var city = "";
var mTrendsURL = "/api/topics-minute/" + minuteslot + "/";
var rtLocURL = "/api/loc/"
var headTr_html = "<th>";
{% if country %}
country = "{{country}}";
mTrendsURL += country + "/";
headTr_html += "country</th><th>";
{% endif %}
{% if city %}
city = "{{city}}";
mTrendsURL += city + "/";
headTr_html += "city</th><th>";
{% endif %}
headTr_html += "topic</th><th>count</th>";

function updateTrendsURL(){
  minuteslot = getMinuteslot();
  mTrendsURL = "/api/topics-minute/" + minuteslot + "/";
  if (country){
    mTrendsURL += country + "/";
    if (city){
      mTrendsURL += city + "/";
    }
  }
}
</script>
{% endblock %}
{% block map %} 
 <div id="map"></div>
 <script type="text/javascript">
  var image = '../static/images/green_dot.png'
  var locAPI = '/api/loc/'
  var map;
  function initMap() {
    map = new google.maps.Map(document.getElementById('map'), {
      center: {lat: 25.176095, lng: 3.68},
      zoom: 2
    });
  }
 </script> 
{% endblock %}
{% block location %} 
        <div class="row" style="height:10vh;">
                <div class="col-md-4 col-md-offset-4 daily_form_div" style="margin-top:1vh;">
                        <form action="live" id="locForm" method="POST">
                                <div class="form-group text-center">
                                        <label style="font-weight:300; font-size:24px;">Geo-Location:</label>
                                        <input type="text" class="form-control" id="country" name="country" placeholder="US">
                                        <input type="text" class="form-control" id="city" name="city" placeholder="New York">

                                        <button type="submit" value="Send" name="daily-container" class="btn btn-default id-submit">Topics</button>
                                </div>
                        </form>
                </div>
        </div>

{% endblock %}

{% block trend %}
<div class="container live">
      <div class="starter-template">
        <div class="row" style="height:100vh;">
                <div class="col-md-10 col-md-offset-1 trend-results">
                    <table class="table" id="trendsTable">
                      <thead>
                        <tr id="trendsHeadTr">
                        </tr>
                      </thead>
                      <tbody id="trendsTb">
                      </tbody>
                    </table>
                </div>
        </div>
      </div>

    </div>

{% endblock %}

{% block tail %}
<script>
$('#trendsHeadTr').append(headTr_html);


function liveTrends() {
  updateTrendsURL();
  $.getJSON( mTrendsURL )    
    .done(function( data ) {
      $('#trendsTb').empty();
      console.log(data.lenght);
      $.each( data.minute_trends, function( i, item ) {                                                                     
	row_html = '<tr><td>';
	if (country){
	  row_html += item.country + '</td><td>';
	}
	if (city){
	  row_html += item.city + '</td><td>';
	}
	row_html += item.topic + '</td><td>' + item.count + '</td></tr>';
	$('#trendsTb').append(row_html);
        })                                                                                            
    });
}
var addIter = 0;
var d = new Date();
var seconds = Math.floor(d.getTime() / 1000);
var ttAPI = "/api/rt/" + seconds;
var markers = [];

function updateTURL() {
  d = new Date();
  seconds = Math.floor((d.getTime() / 1000) - 60); // ask for one minute old due to time difference between servers/user's machine (about 30 seconds between UI and HDFS)
  ttAPI = "/api/rt/" + seconds;
}

function liveTweets() {
  updateTURL();
  $.getJSON( ttAPI )
    .done(function( data ) {
      if (addIter == 9){
	$('#live_tweets').empty();
	  addIter = 0;
      }
      $.each( data.tweets, function( i, item ) {
        var d = new Date(item.time_ms);
          tweet_html = '<div class="tweet">by: ' + item.user + ' at: ' + d.toString() + ' tag: <b>' + item.topic + '</b><br/>' + item.tweet + '</div>';
          $('#live_tweets').prepend(tweet_html);
//	  console.log(tweet_html)
        })
      addIter += 1;
    });
}

// Deletes all markers in the array by removing references to them.
function deleteMarkers() {
  for (var i = 0; i < markers.length; i++) {
    markers[i].setMap(null);
  }
  markers = [];
}
// Adds a marker to the map and push to the array.
function addMarker(location) {
  var marker = new google.maps.Marker({
    position: location,
    map: map,
    icon: image
  });
  markers.push(marker);
}

function liveLocations() {
  $.getJSON( locAPI )
    .done(function( data ) {
//      console.log("deleting: " + markers.length + " : " + markers);
      deleteMarkers(); // remove old
      $.each( data.tweet_locations, function( i, item ) {
	var loc = {lat: item.latitude, lng: item.longitude};
	addMarker(loc)
      })
    });
}

function secItems() {
 liveLocations();
 liveTweets();
}

liveLocations();
liveTweets();
liveTrends();

$('#tweets_div').prepend('<br/>Sample Tweets<br/>');

var l_int = 1000;
var t_int = 2000;
var m_int = 60000;
var secUpdates = setInterval(secItems, t_int); // run on 2 seconds loop
var minUpdates = setInterval(liveTrends, m_int); // run on  minute loop
</script>

<script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDElSPIgRjb-T5Ma0PdHR2HmJzX2l0yHOs&callback=initMap">
</script>

<script>
</script>
<p>
<a href="https://youtu.be/Zxjo3zT0VdI" target="_blank">Live page video</a>
</p>
{% endblock %}
